<ion-header-bar class="bar-positive">
 	 <h1 class="title">Refresher</h1>
</ion-header-bar>
<ion-content>
	  <ion-refresher on-refresh="doRefresh()" pulling-text="下拉刷新..." refreshing-text="刷新" refreshing-icon="ion-loading-c">
	  </ion-refresher>
	  <ion-list>
	    <ion-item ng-repeat="item in results track by $index">
	    	 <!-- <table><tr><td><img ng-src="{{item.imgUrl}}"></td><td>{{item.name}}</td><td>{{item.name}}</td></tr></table> -->
	    	    <img ng-click="goGoodsItem({{item.id}})" ng-src="{{item.imgUrl}}">
			    <h2>{{item.name}}</h2>
			    <p>{{item.typeName}}</p>
			    <ion-option-button class="button-positive" ng-click="share(item)">
			    	Share
			    </ion-option-button>
			    <ion-option-button class="button-info" ng-click="edit(item)">
			    	Edit
			    </ion-option-button>
			    <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
			    </ion-delete-button>
			    <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(item, $fromIndex, $toIndex)">
			    </ion-reorder-button>
	    </ion-item>
	  </ion-list>
	  <ion-infinite-scroll ng-if="moreData" on-infinite="loadMore()" distance="0%" ></ion-infinite-scroll>
</ion-content>