
      <ion-tabs class="tabs-icon-top tabs-positive"><!-- tabs-color-active-positive -->
		  <ion-tab title="Main" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/index/main">
		  </ion-tab>
		  <ion-tab title="Goods" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/goods/goodsList">
		  </ion-tab>
		  <ion-tab title="Society" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/society/postsList">
		  </ion-tab>
		  <ion-tab title="User" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/index/login">
		  </ion-tab>
	 </ion-tabs>
