<ion-tabs class="tabs-icon-top tabs-calm" ng-class="{'tabs-item-hide': $root.hideTabs}"><!-- {{hideTabs}} -->
	  <!-- main Tab -->
	  <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/main">
	    <ion-nav-view name="tab-main"></ion-nav-view>
	  </ion-tab>
	  <!-- gou Tab -->
	  <ion-tab title="一元购" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/gou">
	    <ion-nav-view name="tab-gou"></ion-nav-view>
	  </ion-tab>
	  <!-- society Tab -->
	  <ion-tab title="社区" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/society">
	    <ion-nav-view name="tab-society"></ion-nav-view>
	  </ion-tab>
	   <!-- goods Tab -->
	  <!-- <ion-tab title="Goods" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/goods">
	    <ion-nav-view name="tab-goods"></ion-nav-view>
	  </ion-tab> -->
	  <!-- shopping cart -->
	  <ion-tab title="购物车" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/cart">
	    <ion-nav-view name="tab-cart"></ion-nav-view>
	  </ion-tab>
	  <!-- user Tab -->
	  <ion-tab title="用户" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/user" badge="1" badge-style="badge-assertive">
	    <ion-nav-view name="tab-user"></ion-nav-view>
	  </ion-tab>
</ion-tabs>
