<style type="text/css">

</style>
<ion-view hide-nav-bar="true" hide-tabs="true">
	<ion-header-bar class="bar-calm">
		<div class="buttons">
	        <button ng-click="$ionicGoBack()" class="button button-icon ion-ios-arrow-left">
	    	</button>
        </div>
 		<h1 class="title">我的券包</h1>
	</ion-header-bar>
	<ion-content id="about" has-header="true" class="dq_bg_color" padding="false" style="height:100%">
         <a href="#/tab/user_coupon_info" class="item item-icon-left item-icon-right">
		  		<i class="icon ion-card ico-24" style="color: #009966"></i>
		    	<h2>优惠券<span class="item-note">0张</span></h2>
		    	
		    	<i class="icon ion-chevron-right icon-accessory"></i>
		  </a>
		  <a href="#" class="item item-icon-left item-icon-right">
		  		<i class="icon ion-cash ico-24" style="color: #009966"></i>
		    	<h2>红包<span class="item-note">0.00元</span></h2>
		    	
		    	<i class="icon ion-chevron-right icon-accessory"></i>
		  </a>
	</ion-content>
</ion-view>