<style type="text/css">

</style>
<ion-view id="feedBackInfoView" hide-tabs="true" title="info" hide-nav-bar="true"><!--  hide-nav-bar="true"  hide-nav-bar="true" title="info" -->
	<ion-header-bar align-title="center" class="bar-calm" >
		<div class="buttons">
	        <button ng-click="$ionicGoBack()" class="button button-icon ion-ios-arrow-left">
	    	</button>
        </div>
		<h1 class="title">意见反馈</h1>
		<div class="buttons">
	      
        </div>
	</ion-header-bar>
	<ion-content id="feedBackInfoContent" padding="false" >
	 		
	        <div class="item item-body" style="padding:padding: 10px 8px 10px 8px;border-top: 0px;">
		          <p style="padding:0;margin-top: 0px;margin-bottom: 0px;">
		            This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.
		          </p>
		          <p style="padding:0;margin-top: 0px;margin-bottom: 0px;">
		            This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.
		          </p>
		          <img style="margin-top: 8px" class="full-image" ng-src="http://ionicframework.com/img/docs/delorean.jpg">
		          <img style="margin-top: 8px" class="full-image" ng-src="http://ionicframework.com/img/docs/delorean.jpg">
		          <img style="margin-top: 8px" class="full-image" ng-src="http://ionicframework.com/img/docs/delorean.jpg">
	        </div>
	        <div class="item item-divider font-12 dq_bg_color" style="color: #333;font-weight:700;padding-left:8px;">
				    系统回复
		    </div>
		    <div class="dq_bg_white" style="padding:8px 8px 8px 8px;width: 100%;">
		    	   楼主真的是好人啊楼主真的是好人啊楼主真的是好人啊楼主真的是好人啊楼主真的是好人啊楼主真的是好人啊楼主真的是好人啊楼主真
		    </div>
	</ion-content>
</ion-view>