<style type="text/css">

</style>
<ion-view hide-nav-bar="true" hide-tabs="true">
	<ion-header-bar class="bar-calm">
		<div class="buttons">
	        <button ng-click="$ionicGoBack()" class="button button-icon ion-ios-arrow-left">
	    	</button>
        </div>
 		<h1 class="title">注册新用户</h1>
	</ion-header-bar>
	<ion-content id="register1" has-header="true" class="dq_bg_color" padding="false" style="height:100%">
		<div class="item-head">
			<img ng-src="{{ consultAvatar || './img/main/39dc41f96634710a4c5c69e250b54257.jpg'}}" />
		</div>
		<div class="item item-input">
            <span class="input-label font-14" style="width: auto;">手机号</span>
            <input type="text" ng-model="item.phone" placeholder="请输入你的手机号码">
       	</div>
       	<div class="item item-input">
            <span class="input-label font-14" style="width: auto;">验证码</span>
            <input type="text" ng-model="item.verCode" placeholder="请输入你的验证码">
            <button ng-if="!noSend" class="button button-small" style="margin-right: 10px;width: 60px;" ng-click="sendMessage()">重新获取</button>
            <button ng-if="noSend"  class="button button-small font-16" style="margin-right: 10px;width: 60px;">{{sendTime}}</button>
       	</div>
       	<div class="item item-input">
            <span class="input-label font-14" style="width: auto;">密码　</span>
            <input type="{{showPwd?'text':'password'}}" ng-model="item.pwd" placeholder="请输入你的密码">
            <i ng-if="showPwd"  ng-click="clickPwd()" style="padding-right: 20px;" class="icon ion-ios-eye font-20"></i>
		    <i ng-if="!showPwd" ng-click="clickPwd()" style="padding-right: 20px;" class="icon ion-ios-eye-outline placeholder-icon font-20"></i>
       	</div>
        <div class="" style="padding: 8px 0 8px 16px;background-color: #fff">
            <span class="font-12" style="color:#999">没收到短信？请尝试重新获取</span>
        </div>
        <div style="margin: 16px 16px 0px 16px;text-align:center;">
        	<button ng-if="item.phone!=''&&item.verCode!=''&&item.pwd!=''" ng-click="register()" class="button button-calm button-block" style="min-height:30px">注册</button>
        	<button ng-if="item.phone==''||item.verCode==''||item.pwd==''" class="button button-calm button-block disabled" style="min-height:30px;">注册</button>
        </div>
	</ion-content>
</ion-view>