<style type="text/css">

</style>
<ion-view hide-nav-bar="true" hide-tabs="true">
	<ion-header-bar class="bar-calm">
		<div class="buttons">
	        <button ng-click="$ionicGoBack()" class="button button-icon ion-ios-arrow-left">
	    	</button>
        </div>
 		<h1 class="title">关于我们</h1>
	</ion-header-bar>
	<ion-content id="about" has-header="true" class="" padding="false" style="height:100%">
		  <div class="font-14" style="height:100%;padding: 5px 5px 5px 5px">
		  	深圳技术股份有限公司，成立于2016年，是一家专业的互联网研发与运营创业公司。
我们并不是简单地贩卖“成人玩具”，而是让情趣体验和感官享受到达全新的维度，以确保你的每一次情趣体验都能最大程度获得充盈的享受。我们乐于将这种情趣交到您的双手之中。
将情趣脱离低俗品味，颠覆世俗偏见。我们开创一个更健康、更有趣的情趣世界。快感的种类与深浅时而千变万化，我们用玩具探索身体，用道具表达情趣。
发展至今，App的激活用户超过 3000 万，除了致力于打造时尚情趣APP品牌外，他趣正为国人的两性文化而努力，每一次的深入浅出的两性对话，都能绵延至世界的尽头。未来邀你一起参与。
		  </div>
	</ion-content>
</ion-view>