<ion-view title="item" hide-nav-bar="true" hide-tabs="true"><!--hide-nav-bar="true" hide-tabs="true" hide-back-button="true" -->
	 <ion-header-bar class="bar-calm">
      <div class="buttons">
        <button ng-click="$ionicGoBack()" class="button button-icon ion-ios-arrow-left">
    	</button>
      </div>
      <h1 class="title">魅力榜</h1>
      <div class="buttons">
        <button class="button button-icon ion-navicon"></button>
      </div>
    </ion-header-bar>
    <ion-content class="dq_bg_color" fixed-bar><!-- scroll-event-interval="5"  -->
    	charm
    </ion-content>
</ion-view>