<style type="text/css">

</style>
<ion-view id="replyView" title="reply" hide-nav-bar="true" hide-tabs="true">
   <ion-header-bar class="bar-calm">
	    <div class="buttons">
	    	<button ng-click="$ionicGoBack()" class="button button-icon ion-ios-arrow-left"></button>
	    </div>
	    <h1 class="title">59楼</h1>
	    <div class="buttons">
	    	<button ng-click="lookPosts()" class="button button-icon font-14">查看帖子</button>
	    </div>
    </ion-header-bar>
    <ion-content padding="false" class="has-header dq_bg_color">
    	<a href="#/tab/{{action_flag}}_replyInfo?id=1&disId=12" class="item item-avatar" style="padding:8px 0px 8px 56px;min-height:0px;">
	          <img class="userHeader" style="top:8px;left:8px;" src="http://ionicframework.com/img/docs/mcfly.jpg" alt="">
	          <h3 class="ng-binding" style="">小花<br><span class="font-12" style="color:#ccc">59F  1天前</span></h3>
	          <p class="font-14 ng-binding" style="color: #999;padding:4px 16px 8px 0px;white-space:pre-line;border-bottom:1px solid #ddd;">我特么看完啦我特么看完啦我特么看完啦我特么看完啦我特么看完啦我特么看完啦我特么看完啦我特么看完啦我特么看完啦我特么看完啦</p>
	          <div class="font-12" style="padding:6px 16px 8px 0;white-space:pre-line;"><span style="font-weight:700;">正经人</span>: <span style="color:#999;">我特么看完啦我特么看完啦我特么看完啦我特么看完啦我特么看完啦</span></div>
	    	  <div class="font-12" style="padding:6px 16px 8px 0;white-space:pre-line;"><span style="font-weight:700;">正经人</span>: <span style="color:#999;">我特么看完啦我特么看完啦我特么看完啦我特么看完啦我特么看完啦</span></div>
	    </a>
    </ion-content>
</ion-view>