<ion-view title="item" hide-nav-bar="true" hide-tabs="true"><!--hide-nav-bar="true" hide-tabs="true" hide-back-button="true" -->
	<ion-header-bar class="bar-calm">
	    <div class="buttons">
	        <button ng-click="$ionicGoBack()" class="button button-icon ion-ios-arrow-left">
	    	</button>
	    </div>
	    <h1 class="title">帖子详情</h1>
	    <div class="buttons">
	        <button class="button button-icon ion-ios-more"></button>
	    </div>
    </ion-header-bar>
	<a href="#/tab/{{action_flag}}_societyType?typeId=1" class="bar-subheader item item-icon-left item-divider item-icon-right" style="height:35px;min-height:35px;">
		  		<i class="icon ion-ios-copy-outline ico-24" style="color: #009966"></i>
		    	<h3>情趣试衣间</h3>
		    	<i class="icon ion-chevron-right icon-accessory"></i>
	</a>
    <ion-content class="dq_bg_color" style="margin-top:32px;">
        <div class="list">
	 		<a class="item item-avatar" style="padding-top:5px;padding-bottom:5px;min-height:0px" href="#/tab/{{action_flag}}_account?id=1">
		          <img class="userHeader" style="top:5px;" src="http://ionicframework.com/img/docs/mcfly.jpg"/>
		          <h3>冰茜 <span>LV3</span><span></span></h3>
		          <p class="font-12">2016-04-12 北京市市辖区 </p>
		    </a>
	        <div class="item item-body" style="padding: 0 8px 0 8px;border-top: 0px;">
		          <p style="padding: 8px 0px 8px 0px;margin:0px;font-weight:600;">
		          国青进球功臣遭足协重罚 踩踏对手被禁6场+罚款3万
		          </p>
		          <p class="font-12" style="padding: 8px 0px 8px 0px;margin: 0px;">
		            根据比赛监督、裁判评议组报告，比赛录像及有关当事人、俱乐部代表的陈述、书面说明等，当比赛进行到第36分钟，大连一方球员汪晋贤使用鞋底踩踏对方球员（奥特森）的腿部，导致对方球员腿部受伤。

20岁的汪晋贤1996年1月2日出生于湖北省武汉市，身高175cm，是一名中场球员，因为娴熟的过人技术而被称为“盘带王”。现效力于大连一方足球俱乐部。2012入选中国男足国少队，2014年入选国青队。
		          </p>
		          <img style="margin-top: 10px" class="full-image" ng-src="http://ionicframework.com/img/docs/delorean.jpg">
		          <img style="margin-top: 10px" class="full-image" ng-src="http://ionicframework.com/img/docs/delorean.jpg">
		          <img style="margin-top: 10px" class="full-image" ng-src="http://ionicframework.com/img/docs/delorean.jpg">
		          
		          <p style="text-align: center;margin-bottom:0px;">
		            <!-- <img alt="" style="width: 48px;height: 48px;-moz-border-radius:24px;-webkit-border-radius:24px;border-radius:24px;border: 1px solid #99CC00;" ng-click="rewardFun()" src="img/ico/cash.png">
		             --><span ng-click="rewardFun()" style="display:inline-block;color:#fff;background-color:#FF5809;width: 60px;height:28px;line-height: 28px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;">赏</span>
		          </p>
		          <div style="margin: 0px 5px 0 5px;border-bottom:#CCCCCC 1px solid;text-align: center;">
			          <span class="font-12" style="color: #999;position:relative;top:10px;background-color: #fff;display:inline-block;">
			          &nbsp;20人打赏&nbsp;</span>
		          </div>
		          <div style="clear: both;padding-top: 8px;margin-bottom: 10px;text-align: right;">
		             <img class="userHeader" style="margin-left: 8px" src="http://ionicframework.com/img/docs/mcfly.jpg"/>
		             <img class="userHeader" style="margin-left: 8px;" src="http://ionicframework.com/img/docs/delorean.jpg"/>
		          	 <img class="userHeader" style="margin-left: 8px;margin-right: 10px;background-color: #11c1f3" src="img/ico/multimedia_57-40.png">
		          </div>
	        </div>
	        <div class="item item-divider font-12 dq_bg_color" style="color: #333;">
				      回帖数（101）
		    </div>
		    <div class="dq_bg_white" style="display: table;width: 100%;">
		    	<div style="display:table-row-group;width: 100%;">
		    		<div style="display:table-cell;">
		    			<img class="userHeader" style="width: 30px;height: 30px;margin: 5px 5px 5px 5px;vertical-align: middle;" src="http://ionicframework.com/img/docs/mcfly.jpg"/>
		    		</div>
		    		<div class="font-12" style="display:table-cell;border-bottom: 1px solid #ccc;color: #333;">
		    			<p style="margin-bottom: 10px;font-weight: 500;position: relative;">
			    			<span>活塞螺纹</span> <span class="font-12" style="color:#999">1天前</span>
			    			<span style="position: absolute;color:#999;right: 5px">1F</span>
		    			</p>
		    			<p style="">楼主好人啊</p>
		    			<div class="font-12" style="width: 100%;border-top: 1px solid #ccc;">
		    				<div><span style="font-weight: 700;color: #333;">人啊</span>：<span style="color: #999">楼主真的是好人啊</span></div>
		    				<div><span style="font-weight: 700;color: #333;">好人<span class="font-14" style="color: #333;font-weight: 700;">回复@人啊：</span></span><span style="color: #999">楼主确实是好人啊</span></div>
		    			</div>
		    			<p style="position: relative;">&nbsp;
		    				<span style="position: absolute;right: 5px;color:#999" ng-click="clickLike()"><i class="ion-thumbsup font-20"></i>24</span>
		    			</p>
		    		</div>
		    		<div style="display:table-cell;width: 4%">&nbsp;</div>
		    	</div>
		    	<div style="display:table-row-group;width: 100%;">
		    		<div style="display:table-cell;">
		    			<img class="userHeader" style="width: 30px;height: 30px;margin: 5px 5px 5px 5px;vertical-align: middle;" src="http://ionicframework.com/img/docs/mcfly.jpg"/>
		    		</div>
		    		<div class="font-12" style="display:table-cell;border-bottom: 1px solid #ccc;color: #333;">
		    			<p style="margin-bottom: 10px;font-weight: 500;position: relative;">
			    			<span>活塞螺纹</span> <span class="font-12" style="color:#999">1天前</span>
			    			<span style="position: absolute;color:#999;right: 5px">1F</span>
		    			</p>
		    			<p style="">楼主好人啊</p>
		    			<div class="font-14" style="width: 100%;border-top: 1px solid #ccc;">
		    				<div><span style="font-weight: 700;">test</span>：<span class="font-12" style="color: #999">楼主真的是好人啊楼主真的是好人啊楼主真的是好人啊楼主真的是好人啊楼主真的是好人啊楼主真的是好人啊楼主真的是好人啊楼主真的是好人啊楼主真的是好人啊楼主真的是好人啊楼主真的是好人啊楼主真的是好人啊楼主真的是好人啊楼主真的是好人啊楼主真的是好人啊楼主真的是好人啊楼主真的是好人啊楼主真的是好人啊楼主真的是好人啊楼主真的是好人啊</span></div>
		    				<div><span style="font-weight: 700;">test1<span style="color: #333;font-weight: 500;">回复@test：</span></span><span class="font-12" style="color: #999">楼主确实是好人啊</span></div>
		    			</div>
		    			<p style="position: relative;">&nbsp;
		    				<span style="position: absolute;right: 5px;color:#999" ng-click="clickLike()"><i class="ion-thumbsup font-20"></i>24</span>
		    			</p>
		    		</div>
		    		<div style="display:table-cell;width:4%">&nbsp;</div>
		    	</div>
		    </div>
	     </div>
	     <div style="margin-bottom: 20px"></div>
    </ion-content>
    <div ng-click="discuss()" class="circle x_center" style="background-color:#ADFF2F;color:#FFF;bottom:10px;text-align:center;width:30px;height:30px;line-height:30px;"><i class="icon ion-chatbox-working font-18"></i></div>
</ion-view>